@keyframes textFadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}

@keyframes textFadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}
